# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js build output
/.next/
/out/

# Production build artifacts
/build
dist

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local environment files (Secrets & API keys)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local
.env.*
!.env.example

# TypeScript
*.tsbuildinfo
next-env.d.ts

# SQLite local database
*.db
*.db-journal

# Uploads directory in public (dev local files)
/public/uploads/*
!/public/uploads/.gitkeep

# Executables & Cloudflare Tunnel binaries
cloudflared.exe
*.exe

